@import 'env';

.BountyContainer {
  display: flex;   
  flex-wrap: wrap;
  align-items: center;  ;
}
.BountyCard {
  border: 1px solid $bh-primary;
  margin: $bh-sp;  
  flex: 1 200px;
}
.BountyCard_Header {
  border-bottom: 1px solid $bh-primary;
  padding: $bh-sp;
  margin-bottom: $bh-sp;
}
.BountyContent {
  padding: $bh-sp;
}
